{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        
        <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>


    </head>



<body>




    <br>
    <br>
    {{ student.uID }}
    {% for i in classes%}
    <br>
      CRN is: {{ i.section.courseNumb.subj.crn }} 
      <br>
      Subj is:{{ i.section.courseNumb.subj }} 
      <br>
      Course Number is : {{ i.section.courseNumb }} 
      <br>
      section is: {{ i.section }} 
      <br>
      <br>
    {% endfor %}
    <br>
    <br>
 
 
<!-- HTMX linked fors -->

    <select 
    name="subj" 
    hx-get= "{% url 'choose-numb' %}"  
    hx-trigger="change"
    hx-target="#courseNumb">
      <option selected> Choose Subj</option>
      {% for i in classes%}
      <option value=" {{ i.section.courseNumb.subj.pk }} ">{{ i.section.courseNumb.subj }} {{ i.section.courseNumb.subj.pk }}</option>

      {% endfor %}
    </select>


    <div id="courseNumb">
      {% include 'partials/courseNumb.html' %}
    </div>

    


    </select>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
</body>

</html>